## Libraries

In [3]:
import pandas as pd
import numpy as np

## Import

In [11]:
df = pd.read_csv("tmdb-movies.csv")
df.sample(3)
#pd.set_option('display.float_format', lamda x: '$.2f' %x) #day la ham hien ra 2 chu so thap phan

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
7418,4964,tt0478311,1.640237,30000000,219076518,Knocked Up,Seth Rogen|Katherine Heigl|Leslie Mann|Paul Ru...,http://knockedupmovie.com/,Judd Apatow,Save the due date.,...,"For fun loving party animal Ben Stone, the las...",129,Comedy|Romance|Drama,Universal Pictures|Apatow Productions,6/1/07,746,6.0,2007,3.155006e+07,2.303959e+08
8465,11238,tt0115491,1.841080,0,0,Aladdin and the King of Thieves,Scott Weinger|Linda Larkin|Robin Williams|John...,http://movies.disney.com/aladdin-and-the-king-...,Tad Stones,The Spectacular Adventure Continues!,...,Legendary secrets are revealed as Aladdin and ...,81,Adventure|Animation|Family,Walt Disney Television Animation,5/20/96,308,6.2,1996,0.000000e+00,0.000000e+00
7911,15144,tt0088128,0.606839,6500000,23686027,Sixteen Candles,Molly Ringwald|Justin Henry|Michael Schoefflin...,NaN,John Hughes,When you're just sixteen anything can happen!,...,Samantha's life is going downhill fast. The si...,93,Comedy|Romance,Universal Pictures,5/4/84,223,6.7,1984,1.364377e+07,4.971797e+07

In [12]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

# Questions:
#### Bộ phim nào có doanh thu cao nhất
#### Bộ phim nào có thời gian chiếu lâu nhất

# Quality Issue 1:

In [13]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

## Obvations
Runtime 900 phút là quá thời gian so với một bộ phim và một bộ phim không thể nào có thời lượng chiếu là 0 phút.

# Quality Issue 2:

In [14]:
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64